body {
    margin: 0 auto;
    width: 100vw;
    height: 100vw;
}
@font-face {
    font-family: PressStart;
    src: url('../font/PressStart2P-Regular.ttf');
}
.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
}
.card {
    overflow: hidden;
    width: 32.3vw;
    height: 52vw;
    background-image: url("../img/карта.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.queen{
    width: 37.57vw;
}
.woman {
    width: 32.8vw;
    height: 57vw;
    animation: scale .5s ease alternate infinite;
    animation-play-state: running;
}
.woman:hover {
    animation-play-state: paused;
}
@keyframes scale {
    0% {
        transform: scale(1, 1);
      }
      100% {
        transform: scale(-1, 1);
      }
}
.lines {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 31.2vw;
    height: 52.2vw;
    background-image: url("../img/точки.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.zigzag {
    width: 32.7vw;
}
.flow1 {
    position: absolute;
    transform: scale(1);
}
.flow1:hover {
    transform: scale(1.15);
}
.zigzag2 {
    width: 21.2vw;
}
.flow2 {
    margin-top: 58px;
    transform: scale(1);
}
.flow2:hover {
    transform: scale(1.15);
}
.heart {
    width: 36.8vw;
    height: 57.2vw;
    background-image: url("../img/сетка.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.serdce {
    width: 30.47vw;
}
.beat {
    position: relative;
    width: 30.47vw;
    left: 4vw;
    animation: beat .4s ease alternate infinite;
    z-index: 1;
}
.beat:hover {
    animation-play-state: paused;
}
@keyframes beat{
    0% {
        transform: scale(.9);
      }
      100% {
        transform: scale(1.1);
      }
}

.column2 {
    position: relative;
    bottom: 18vw;
    width: 100vw;
}
.cubes_and_lip {
    display: flex;
    width: 100vw;
    height: 68vw;
    background-image: url("../img/spot_and_kiss.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cubes {
    display: flex;
    width: 64.2vw;
    height: 48.89vw;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10.6vw;
    padding-left: 0.52vw;
}
.cube1, .cube2, .cube3, .cube4, .cube5, .cube6{
    width: 15vw;
}
.top_line {
    display: flex;
    padding-left: 11vw;
}
.middle_line {
    display: flex;
    width: 32vw;
    flex-direction: row;
    margin-left: 1vw;
    justify-content: space-around;
}
.bottom_line {
    display: flex;
    width: 64vw;
    flex-direction: row;
    justify-content: space-between;
}
.eye {
    width: 15.3vw;
    height: 15.57vw;
    background-image: url("../img/eye.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -16vw;
    animation: eyes .5s steps(1) infinite;
}
.eye:hover {
    animation-play-state: paused;
}
@keyframes eyes {
    0% {background-position: 0 0;}
    50% { background-position: -15.4vw 0;}
}
.lips {
    display: flex;
    width: 30vw;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.top_lip {
    position: relative;
    width: 30vw;
    height: 9vw;
    background-image: url('../img/verhnayy.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 9vw;
    left: 2.57vw;
    z-index: 1;
    animation: top_lip .4s linear alternate infinite;
}
@keyframes top_lip {
    0% {
        transform: translate(0vw, 0vw);
        }
    25% {
        transform: translate(-0.26vw, -0.157vw);
    }
    50% {
        transform: translate(0.1vw, 0.157vw);
    }
    75% {
        transform: translate(-0.368px, 0.26vw);
    }
    100% {
        transform: translate(0vw, 0vw);
        }
    }
.hearts {
    display: flex;
    overflow: hidden;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.heart1{
    position: relative;
    width: 7.79vw;
    height: 6.68vw;
    background-image: url('../img/heart2.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    right: 10.7vw;
    top: 20.7vw;
    animation: heart1 2s ease infinite;
}
@keyframes heart1 {
    0% {
        transform: translate(0vw, 0vw);
      }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 5.26vw);
        opacity: 0%;
      }
    }
.heart2{
    position: relative;
    width: 6.1vw;
    height: 6.26vw;
    background-image: url('../img/heart1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 17.9vw;
    top: 14.8vw;
    animation: heart2 2.5s ease infinite;
}
@keyframes heart2 {
    0% {
        transform: translate(0vw, 0vw);
          }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 7.9vw);
        opacity: 0%;
    }
    }
.heart3{
    position: relative;
    width: 6.1vw;
    height: 6.26vw;
    background-image: url('../img/heart3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 24.1vw;
    top: 8.1vw;
    animation: heart3 4s ease infinite;
}
@keyframes heart3 {
    0% {
        transform: translate(0vw, 0vw);
        }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 15.8vw);
        opacity: 0%;
        }
    }
.heart4{
    position: relative;
    width: 6.47vw;
    height: 6.26vw;
    background-image: url('../img/heart4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 8.8vw;
    top: 0.63vw;
    animation: heart4 2s ease infinite;
    }    
@keyframes heart4 {
    0% {
        transform: translate(0vw, 0vw);
        }
        50% {
        opacity: 95%;
    }
    80% {
         opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 18.4vw);
        opacity: 0%;
         }
    }
.heart5 {
    position: relative;
    width: 6.1vw;
    height: 6.26vw;
    background-image: url('../img/heart5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 19.3vw;
    bottom: 4.9vw;
    animation: heart5 3s ease infinite;
}
@keyframes heart5 {
    0% {
        transform: translate(0vw, 0vw);
        }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 21vw);
        opacity: 0%;
        }
    }
.heart6{
    position: relative;
    width: 6.36vw;
    height: 6.26vw;
    background-image: url('../img/heart6.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 6.8vw;
    bottom: 11.57vw;
    animation: heart6 3.5s ease infinite;
}
@keyframes heart6 {
    0% {
        transform: translate(0vw, 0vw);
        }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 26.3vw);
        opacity: 0%;
        }
    }
.heart7 {
    position: relative;
    width: 6.57vw;
    height: 6.1vw;
    background-image: url('../img/heart7.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 14.3vw;
    bottom: 17.7vw;
    animation: heart7 4s ease infinite;
}
@keyframes heart7 {
    0% {
        transform: translate(0vw, 0vw);
        }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 28.4vw);
        opacity: 0%;
        }
    }
.heart8 {
    position: relative;
    width: 6.57vw;
    height: 6.1vw;
    background-image: url('../img/heart8.svg');
    background-repeat: no-repeat;
    background-size: cover;
    right: 21.2vw;
    bottom: 21.9vw;
    animation: heart8 2s ease infinite;
}
@keyframes heart8 {
    0% {
        transform: translate(0vw, 0vw);
        }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 31.5vw);
        opacity: 0%;
        }
    }
.heart9 {
    position: relative;
    width: 6.57vw;
    height: 6.1vw;
    background-image: url('../img/heart9.svg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 28vw;
    right: 14vw;
    animation: heart9 3s ease infinite;
}
@keyframes heart9 {
    0% {
        transform: translate(0vw, 0vw);
        }
    50% {
        opacity: 95%;
    }
    80% {
        opacity: 50%;
    }
    90% {
        opacity: 20%;
    }
    100% {
        transform: translate(0vw, 35.26vw);
        opacity: 0%;
        }
    }
.bottom_lip {
    position: relative;
    width: 30vw;
    height: 14.68vw;
    background-image: url('../img/nizhnayy.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 2.2vw;
    left: 2.57vw;
    animation: bottom_lip .4s linear alternate infinite;
}
@keyframes bottom_lip {
    0% {
        transform: translate(0vw, 0vw);
        }
    25% {
        transform: translate(0.26vw, 0.157vw);
    }
    50% {
        transform: translate(-0.36vw, -0.1vw);
    }
    75% {
        transform: translate(0.26vw, 0.26vw);
    }
    100% {
        transform: translate(0vw, 0vw);
        }
    }
.roulette {
    position: absolute;
    height: 43.8vw;
    bottom: 21.47vw;
}
.rotates {
position: absolute;
width: 44vw;
height: 43.5vw;
background-image: url('../img/roulette.svg');
background-repeat: no-repeat;
background-size: cover;
bottom: 21.2vw;
left: 9.47vw;
}
.rotates:hover ~ .ball {
    animation-play-state: paused;
}
.little {
    width: 1.8vw;
}
.ball {
    position: absolute;
    bottom: 42vw;
    left: 30.9vw;
    animation: ball 2s linear infinite;
}
@keyframes ball {
    from {
        transform: rotate(0deg)
                    translate(-14.7vw)
                    rotate(0deg);
    }
    to {
        transform: rotate(360deg)
                    translate(-14.7vw)
                    rotate(-360deg);
    }
    }
.column3 {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: -26.9vw;
width: 100vw;
}
.female {
overflow: hidden;
width: 30vw;
height: 44.3vw;
background-image: url('../img/green.svg');
background-repeat: no-repeat;
background-size: cover;
}
.wohand{
display: flex;
width: 49vw;
height: 12.6vw;
background-image: url('../img/wohand.svg');
background-repeat: no-repeat;
background-size: cover;
margin-top: 14.3vw;
margin-left: -49vw;
animation: wohand 3s ease alternate infinite;
}
@keyframes wohand {
0% {
    transform: translate(0vw, 0vw);
}
        
25% {
    transform: translate(30.3vw, 5.26vw);
}
50% {
    transform: translate(21.8vw, 5vw);
}
75% {
    transform: translate(26.9vw, 11.1vw);
}
100% {
    transform: translate(19.8vw, -10.9vw);
}
}
      
.line1 {
overflow: hidden;
width: 7.5vw;
height: 44.3vw;
background-image: url('../img/1line.svg');
background-repeat: no-repeat;
background-size: cover;
}
.arrows1{
display: flex;
width: 6vw;
height: 64.3vw;
background-image: url('../img/arrows1.svg');
background-repeat: no-repeat;
background-size: cover;
margin-left: 0.73vw;
animation: arrows1 .3s linear infinite;
}
.arrows1:hover {
    animation-play-state: paused;
}
@keyframes arrows1 {
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-4.1vw); 
      }
}
.blue_heart {
width: 25vw;
height: 44.3vw;
background-image: url('../img/blue.svg');
background-repeat: no-repeat;
background-size: cover; 
}
.brok{
display: flex;
width: 23vw;
height: 19.38vw;
background-image: url('../img/brok.svg');
background-repeat: no-repeat;
background-size: cover;
margin-top: 10.9vw;
margin-left: 1vw;
}
.line2 {
overflow: hidden;
width: 7.5vw;
height: 44.3vw;
background-image: url('../img/2line.svg');
background-repeat: no-repeat;
background-size: cover;
}
.arrows2{
display: flex;
width: 6vw;
height: 64.9vw;
background-image: url('../img/arrows2.svg');
background-repeat: no-repeat;
background-size: cover;
margin-top: -19.6vw;
margin-left: 0.73vw; 
animation: arrows2 .3s linear infinite;  
}
.arrows2:hover {
    animation-play-state: paused;
}
@keyframes arrows2 {
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(4.1vw); 
      }
}
.male {
width: 30vw;
height: 44.3vw;
overflow: hidden;
background-image: url('../img/red.svg');
background-repeat: no-repeat;
background-size: cover;
}
.manhand {
display: flex;
width: 48.7vw;
height: 14.5vw;
background-image: url('../img/manhand.svg');
background-repeat: no-repeat;
background-size: cover;
margin-top: 14.3vw; 
margin-left: 29.8vw;
animation: manhand 3s ease alternate infinite;
}
@keyframes manhand {
    0% {
        transform: translate(0vw, 0vw);
    }
    
    25% {
        transform: translate(-25.1vw, -3.4vw);
    }
    50% {
        transform: translate(-15.6vw, 8.1vw);
    }
    75% {
        transform: translate(-30vw, -3.78vw);
    }
    100% {
        transform: translate(-13.8vw, 8.89vw);
    }
}
.column4 {
    position: relative;
    bottom: 5.84vw;
    width: 100vw;
}
.background {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100vw;
    height: 46.6vw;
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.flower {
    width: 47.47vw;
    height: 56.3vw;
    background-image: url('../img/flower.svg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: flower 3s linear infinite;
}
@keyframes flower {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} 
}
.shadow {
    position: relative;
    width: 34.8vw;
    height: 33.47vw;
    background-image: url('../img/shadow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 10.89vw;
    left: 6.9vw;
    animation: shadow 4s linear alternate infinite;
}
@keyframes shadow {
    0% {transform: scale(1);}
    100% {transform: scale(3);}
}
.game {
    font-family: PressStart;
    font-size: 10.9vw;
    line-height: 1.2;
    margin-top: 7.26vw;
}
.play1 {
    color: red;
    animation: play1 .7s steps(1) infinite;
}
.play1:hover {
    animation-play-state: paused;
}
@keyframes play1 {
    0% {
        transform: translate(0vw, 0vw);
        color: red;
    }
    
    25% {
        transform: translate(0.36vw, 0.26vw);
    }
    40% {
        color: blue;
    }
    50% {
        transform: translate(0.36vw, -0.36vw);
    }
    75% {
        transform: translate(-0.2vw, 0.1vw);
        color: #13FF00;
    }
    100% {
        transform: translate(0vw, 0vw)
    }
}
.play2 {
    color: blue;
    animation: play2 .7s steps(1) infinite;
}
.play2:hover {
    animation-play-state: paused;
}
@keyframes play2 {
    0% {
        transform: translate(0vw, 0vw);
        color: blue;
    }
    
    40% {
        color: #13FF00;
    }
    50% {
        transform: translate(-0.57vw, 0.36vw);
    }
    75% {
        transform: translate(-0.42vw, 0.5vw);
        color: red;
    }
    100% {
        transform: translate(0vw, 0vw);
    }
}
.play3 {
    color: #13FF00;
    animation: play3 .7s steps(1) infinite;
}
.play3:hover {
    animation-play-state: paused;
}
@keyframes play3 {
    0% {
        transform: translate(0vw, 0vw);
        color: #13FF00;
    }
    
    40% {
        color: red;
    }
    50% {
        transform: translate(-0.63vw, -0.26vw);
    }
    75% {
        transform: translate(0.63vw, 0.57vw);
        color: blue;
    }
    100% {
        transform: translate(0vw, 0vw);
    }
}